<footer>
  <div id="f-content">
    <h2>DPS Confluence 2023</h2>
    <!-- <div class="spacer"></div> -->
    <div class="grid">
      <div class="col">
        <a href="/contact">Contact</a>
        <a href="/register">Register</a>
        <a href="/guidelines">Guidelines</a>
        <a href="/brochure">Brochure</a>
      </div>
      <div class="col">
        <a href="https://www.instagram.com/confluence2023/">Instagram</a>
        <a href="https://south.dpsbangalore.edu.in/">DPS Bangalore South</a>
        <a href="https://goo.gl/maps/SXHFwYHsWnnVyCSE9">Google Maps</a>
      </div>
      <div class="col">
        <h4>Categories</h4>
        {% for cat in categories %}
        <a href="/#{{ cat[0] }}">{{ cat[1].title }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer">
  </div>
  <div class="spacer"></div>
  <!-- <div id="f-bar" class="barlow">
    <strong>© DiPS IT COUNCIL 2023</strong>
  </div> -->
</footer>