<nav>
  <a class="nav-logo" href="/">
    <img src="/_media/confluence_logo_gradient_svg.svg" alt="Logo" height="40px" class="nav-logo-image" />
    <!-- <div class="nav-logo-text">Confluence 2023</div> -->
  </a>

  <div class="links">
    <button class="close-button" onclick="closeMenu()">
      <span class="material-symbols-outlined">
        close
      </span>
    </button>
    {%- comment -%}
    <a href="/about">About</a>
    {%- endcomment -%}
    <!-- <a href="/team">Team</a> -->
    <a href="/contact">Contact</a>
    <div onclick="rotate()" class="eventsButton">
      <span>Categories</span>
      <div id="dropdownButton">
        <span class="material-symbols-outlined">
          chevron_right
        </span>
      </div>
    </div>
    <div id="ev_popup">
      {% for cat in categories %}
      <a href="/#{{ cat[0] }}">{{ cat[1].title }}
      </a>
      {% endfor %}
    </div>
    <a href="/register" class="header-button">Register</a>
  </div>

  <button class="menu-button" onclick="openMenu()">
    <span class="material-symbols-outlined">
      menu
    </span>
  </button>
</nav>

<script defer>
  window.eventsOpened = false
  function openMenu(e) {
    document
      .getElementsByClassName("links")[0]
      .classList
      .remove("invisible")
    document
      .getElementsByClassName("links")[0]
      .classList
      .add("visible")
  }

  function closeMenu(e) {
    document
      .getElementsByClassName("links")[0]
      .classList
      .remove("visible")
    document
      .getElementsByClassName("links")[0]
      .classList
      .add("invisible")
  }

  function rotate(e) {
    if (window.eventsOpened) {
      window.eventsOpened = false
      rotateButtonBack()
    } else {
      window.eventsOpened = true
      rotateButton()
    }
  }

  function rotateButton(e) {
    document
      .getElementById("dropdownButton")
      .classList
      .remove("rotateUp")
    document
      .getElementById("dropdownButton")
      .classList
      .add("rotateDown")

    document
      .getElementById("ev_popup")
      .classList
      .add("popupVisible")
  }

  function rotateButtonBack(e) {
    document
      .getElementById("dropdownButton")
      .classList
      .remove("rotateDown")
    document
      .getElementById("dropdownButton")
      .classList
      .add("rotateUp")

    document
      .getElementById("ev_popup")
      .classList
      .remove("popupVisible")
  }</script>

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />