<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DPS TechSprint 2023</title>
    <link rel="stylesheet" href="/scss/main.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script
      src="https://js.hcaptcha.com/1/api.js"
      async
      defer></script>
  </head>
  <body>
    {% include "header.liquid" %}

    <main>{{ content }}
    </main>

    {% include "footer.liquid" %}
  </body>
</html>