---
layout: layout
---

<div class="hero padded-div">
    <h1>General Guidelines</h1>
    <div class="spacer"></div>
    <h2>Registration Fees</h2>
    <ul>
        <li>Individual Events: <b>₹300 per participant</b> </li>
        <li>Team Events: <b>500 per participant</b> </li>
        <li><b>The Red Labyrinth</b> does not require a registration fee</li>
    </ul>
    <div class="spacer"></div>
    <h2>Before Confluence</h2>
    <ul>
        <li>
            The dates of the conference are the 16th and 17th of August
        </li>
        <li>
            Registrations open to students in grades VIII to XII
        </li>
        <li>Events are held across two categories: Grades VIII - IX, or Grades X - XII</li>
        <li>Last date of registration is <b>10th August 2023</b></li>
    </ul>
    <div class="spacer"></div>
    <h2>During Confluence</h2>
    <ul>
        <li>Participants must be dressed in an appropriate manner in <b>Western business formals</b></li>
        <li>Electronic devices (phones, laptops, or tablets) are permitted only in certain events. Check the guidelines
            for your event to know more</li>
        <li>Use of unparliamentary langauge inside or outside the venues is prohibited</li>
        <li>Any incident of harrassment will lead to immediate disqualification</li>
        <li>The decisions of the judges are final and binding. All participants will respect the same</li>
        <li>By registering, the participants are agreeing to the aforementioned rules. Any violations may lead to
            disqualification and expulsion from the event</li>
    </ul>
</div>

<style>
    ul {
        padding: 0;
    }

    h2 {
        text-align: left;
    }
</style>