---
layout: layout
id: video
---

<video autoplay muted playsinline id="confluence-hero-video">
    <source src="/_media/looped_video_compressed.mp4" type="video/mp4">
</video>
<div class="hero padded-div">
    <h1>General Guidelines</h1>
    <div class="spacer"></div>
    <h2>Registration Fees</h2>
    <ul>
        <li>Individual Events: <b>₹300 per participant</b> </li>
        <li>Team Events: <b>₹500 per participant</b> </li>
        <li><b>The Red Labyrinth</b> does not require a registration fee.</li>
    </ul>
    <div class="spacer"></div>
    <h2>Before Confluence</h2>
    <ul>
        <li>
            The dates of the conference are the 16th and 17th of August.
        </li>
        <li>
            Registrations open to students in grades VIII to XII.
        </li>
        <li>Events are held across two categories: Grades VIII - IX, or Grades X - XII.</li>
        <li>An institute must register for at least 10 events to become eligible for the title of <b>"Best
                Institute"</b>.</li>
        <li>Last date of registration is <b>10th August 2023</b>.</li>
    </ul>
    <div class="spacer"></div>
    <h2>During Confluence</h2>
    <ul>
        <li>Participants must be dressed in an appropriate manner in <b>Western business formals</b>.</li>
        <li>Electronic devices (phones, laptops, or tablets) are permitted only in certain events. Check the guidelines
            for your event to know more.</li>
        <li>WiFi will not be provided by the school.</li>
        <li>The use of ChatGPT and other AI bots is not allowed. If caught, participants will be eliminated.</li>
        <li>The use of back-end teams or any assistance beyond that of team members is prohibited and if found indulging
            in such activities, the team will be disqualified.</li>
        <li>Participants are requested to attend all rounds on time, as made clear in the schedule. The events will
            begin strictly on time.</li>
        <li>Use of unparliamentary langauge inside or outside the venues is prohibited.</li>
        <li>Any incident of harrassment will lead to immediate disqualification.</li>
        <li>Anyone caught in the possession of illicit substances will be disqualified and asked to leave campus
            immediately.</li>
        <li>The decisions of the judges are final and binding. All participants are required to respect the same.</li>
        <li>Participants must carry an ID proof such as Aadhar/passport along with their school ID cards.</li>
        <li>By registering, the participants are agreeing to the aforementioned rules. Any violations may lead to
            disqualification and expulsion from the conference.</li>
    </ul>
</div>

<style>
    ul {
        padding: 0;
    }

    h2 {
        text-align: left;
    }
</style>